
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
